<div class="row">
  <form class="col s12">
    <div class="row">

      <div class="input-field col s10">
        <input type="text" id="group-filter">
        <label for="group-filter">Filter</label>
      </div>

      <div class="input-field col s2">
        <input type="checkbox" id="group-owned-filter">
        <label for="group-owned-filter">Owned</label>
      </div>

    </div>
  </form>
</div>
