<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      <%= render partial: "dashboard/group.row", locals: { group: group } %>
    </div>
    <div class="collapsible-body">
      <%= render partial: "dashboard/users", locals: { users: group.users } %>
    </div>
  </li>
</ul>
