<div class="card" id="owned-groups">
  <div class="card-content black-text">
    <div class="collection with-header">

      <div class="collection-item collection-header">
        <div class="center-align">
          <h5>Owned Groups</h5>
        </div>
      </div>
      <%= render partial: "profile.groups.list", collection: groups, as: "group" %>
      <div class="collection-item">
        <div class="center-align">
          <h5><%= link_to "Create Group", new_group_path %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
