<div class="collection-item">
  <div class="row valign-wrapper override-row-bottom-margin">
    <div class="col s5 valign">
      <%= group.name %>
    </div>
    <div class="col s2 valign">
      <a class="waves-effect waves-light btn-flat">Edit</a>
    </div>
    <div class="col s5 valign">
      <%= link_to("Remove", group, method: :delete, class: "waves-effect waves-light btn-flat") %>
    </div>
  </div>
</div>
