<div class="collection-item">
  <div class="row valign-wrapper override-row-bottom-margin">
    <div class="col s4 m3 valign">
      <%= group.name %>
    </div>
    <div class="col s4 m3 valign">
      <%= link_to("Edit", edit_group_path(group), class: "waves-effect waves-light btn-flat") %>
    </div>
    <div class="col s4 m6 valign">
      <%= link_to("Remove", group, method: :delete, class: "waves-effect waves-light btn-flat") %>
    </div>
  </div>
</div>
