<div class="collection-item">
  <div class="row valign-wrapper override-row-bottom-margin">
    <div class="col s8 valign">
      <%= group.name %>
    </div>
    <div class="col s4 valign">
      <a class="waves-effect waves-light btn-flat">Edit</a>
    </div>
  </div>
</div>
