<div class="card">
  <div class="card-image">
    <%= image_tag user.image_url, class: "responsive-img" %>
  </div>
  <div class="card-content black-text">
    <div class="collection with-header">
      <div class="collection-item collection-header valign-wrapper">

        <div class="valign">
          <h5>Accounts</h5>
        </div>
      </div>

      <% active_services.each do |service| %>
        <div class="collection-item">
          <div class="valign">
            <%= service.provider %>
          </div>
        </div>
      <% end %>

      <% inactive_services.each do |service| %>
        <div class="collection-item">
          <div class="valign row">
            <div class="col s4 valign">
          <!--<%#= image_tag "TwitterLogo.png", class: "responsive-img circle noob-small" %>-->
              <%= service.provider %>
            </div>
            <div class="col s6 valign">
              <%= link_to "Add", eval("#{service.provider}_login_path"), class: "waves-effect waves-light btn-flat" %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
