<ul class="collection with-header">



  <!--<li class="collection-header">-->
    <!--<div class="row">-->
      <!--<div class="col s4">-->
        <!--<h6>User</h6>-->
      <!--</div>-->
      <!--<div class="col s4">-->
        <!--<h6>Providers</h6>-->
      <!--</div>-->
      <!--<div class="col s2 offset-s2">-->
        <!--<h6>Action</h6>-->
      <!--</div>-->
    <!--</div>-->
  <!--</li>-->

  <!--<li class="collection-item avatar">-->
    <!--<div class="row valign-container">-->
      <!--<div>-->
        <!--<div class="col s4 valign">-->
          <!--<%#= image_tag current_user.profile_picture, class: "responsive-img circle" %>-->
          <!--<span class="title">Noobjey</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col s4 valign">-->
        <!--<form action="#">-->
          <!--<p>-->
            <!--<input type="checkbox" id="test5"/>-->
            <!--<label for="test5">Github</label>-->
          <!--</p>-->
        <!--</form>-->
      <!--</div>-->
      <!--<div class="col s2 valign">-->
        <!--<a class="waves-effect waves-light btn">Follow</a>-->
      <!--</div>-->
      <!--<div class="col s2 valign">-->
        <!--<a class="waves-effect waves-light btn">UnFollow</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</li>-->

  <!--<li class="collection-item avatar">-->
    <!--<div class="row valign-container">-->
      <!--<div>-->
        <!--<div class="col s4 valign">-->
          <!--<%#= image_tag current_user.profile_picture, class: "responsive-img circle" %>-->
          <!--<span class="title">Someone Else</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col s4 valign">-->
        <!--<form action="#">-->
          <!--<p>-->
            <!--<input type="checkbox" id="test5"/>-->
            <!--<label for="test5">Github</label>-->
          <!--</p>-->
        <!--</form>-->
      <!--</div>-->
      <!--<div class="col s2 valign">-->
        <!--<a class="waves-effect waves-light btn">Follow</a>-->
      <!--</div>-->
      <!--<div class="col s2 valign">-->
        <!--<a class="waves-effect waves-light btn">UnFollow</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</li>-->

</ul>
