<ul class="collection with-header">

  <table>
    <thead>
    <tr>
      <th data-field="username">Username</th>
      <th data-field="provider">Provider</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>

    <% users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.provider %></td>
        <td>
          <%= link_to user_path(user), method: :put, class: "btn-floating btn waves-effect waves-light" do %>
            <i class="medium material-icons">add_circle</i>
          <% end %>

          <%= link_to follow_path(user_to_unfollow: user), method: :delete, class: "btn-floating btn waves-effect waves-light red" do %>
            <i class="medium material-icons">remove_circle</i>
          <% end %>
        </td>
      </tr>
    <% end %>

    </tbody>

  </table>

</ul>
