<ul class="collection with-header">

  <table>
    <thead>
    <tr>
      <th data-field="username">Username</th>
      <th data-field="provider">Provider</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>

    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <% user.authorizations.each do |auth| %>
            <%= auth.provider %>
          <% end %>
        </td>
        <td>
          <%= render partial: "user.submit.button",
                     locals:  {
                       method: "post",
                       user_id: user.id,
                       authorizations: user.authorizations,
                       button_icon: "add_circle",
                       button_classes: "btn-floating btn waves-effect waves-light"
                     } %>

          <%= render partial: "user.submit.button",
                     locals:  {
                       method: "delete",
                       user_id: user.id,
                       authorizations: user.authorizations,
                       button_icon: "remove_circle",
                       button_classes: "btn-floating btn waves-effect waves-light red"
                     } %>

        </td>
      </tr>
    <% end %>

    </tbody>

  </table>

</ul>
