<div class="container">
  <h1 class="header center orange-text">Cannected</h1>

  <div class="row center">
    <h5 class="header col s12 black-text">Connect to groups of people across multiple social networks.</h5>
  </div>

  <div class="row center">
    <%= link_to "Login with Github", github_login_path, class: "waves-effect waves-light btn" %>
    <%= link_to "Login with Twitter", twitter_login_path, class: "waves-effect waves-light btn" %>
  </div>
</div>

