<div class="container">
  <h1 class="header center orange-text">Cannect</h1>

  <div class="row center">
    <h5 class="header col s12 light">Connect to groups across multiple social networks. Which at this time includes Github.</h5>
  </div>

  <div class="row center">
    <%= link_to "Login with Github", login_path, class: "waves-effect waves-light btn" %>
  </div>
</div>

