---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token d088f5075d8e264517cee9665f0f3659a92c3744
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1447299521'
      Last-Modified:
      - Wed, 11 Nov 2015 22:27:19 GMT
      Etag:
      - W/"0aa3fd43e7dd191d51ad9d889da56f19"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 58662d0460e83bdc2ea0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"noobjey","id":8325508,"avatar_url":"https://avatars.githubusercontent.com/u/8325508?v=3","gravatar_id":"","url":"https://api.github.com/users/noobjey","html_url":"https://github.com/noobjey","followers_url":"https://api.github.com/users/noobjey/followers","following_url":"https://api.github.com/users/noobjey/following{/other_user}","gists_url":"https://api.github.com/users/noobjey/gists{/gist_id}","starred_url":"https://api.github.com/users/noobjey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/noobjey/subscriptions","organizations_url":"https://api.github.com/users/noobjey/orgs","repos_url":"https://api.github.com/users/noobjey/repos","events_url":"https://api.github.com/users/noobjey/events{/privacy}","received_events_url":"https://api.github.com/users/noobjey/received_events","type":"User","site_admin":false,"name":"Jason
        Wright","company":"Turing.io","blog":null,"location":"Denver, CO","email":"noobjey@gmail.com","hireable":null,"bio":null,"public_repos":47,"public_gists":5,"followers":6,"following":10,"created_at":"2014-08-01T02:05:38Z","updated_at":"2015-11-11T22:27:19Z"}'
  recorded_at: Thu, 12 Nov 2015 02:52:16 GMT
recorded_with: VCR 2.9.3
