---
http_interactions:
- request:
    method: delete
    uri: https://api.github.com/user/following/MattRooney
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 08c2b57e8ffdfadf9e42c1a5c5b04a2f98966925
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1447948245'
      X-Oauth-Scopes:
      - user
      X-Accepted-Oauth-Scopes:
      - user, user:follow
      X-Oauth-Client-Id:
      - 58662d0460e83bdc2ea0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Nov 2015 14:51:54 GMT
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 08c2b57e8ffdfadf9e42c1a5c5b04a2f98966925
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1447948245'
      Last-Modified:
      - Thu, 19 Nov 2015 10:52:31 GMT
      Etag:
      - W/"ee6f2f0bd1e5cd9507928e3d0064ec54"
      X-Oauth-Scopes:
      - user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 58662d0460e83bdc2ea0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"noobjey","id":8325508,"avatar_url":"https://avatars.githubusercontent.com/u/8325508?v=3","gravatar_id":"","url":"https://api.github.com/users/noobjey","html_url":"https://github.com/noobjey","followers_url":"https://api.github.com/users/noobjey/followers","following_url":"https://api.github.com/users/noobjey/following{/other_user}","gists_url":"https://api.github.com/users/noobjey/gists{/gist_id}","starred_url":"https://api.github.com/users/noobjey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/noobjey/subscriptions","organizations_url":"https://api.github.com/users/noobjey/orgs","repos_url":"https://api.github.com/users/noobjey/repos","events_url":"https://api.github.com/users/noobjey/events{/privacy}","received_events_url":"https://api.github.com/users/noobjey/received_events","type":"User","site_admin":false,"name":"Jason
        Wright","company":"Turing.io","blog":null,"location":"Denver, CO","email":"noobjey@gmail.com","hireable":null,"bio":null,"public_repos":50,"public_gists":5,"followers":6,"following":11,"created_at":"2014-08-01T02:05:38Z","updated_at":"2015-11-19T10:52:31Z","private_gists":2,"total_private_repos":0,"owned_private_repos":0,"disk_usage":47966,"collaborators":0,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 19 Nov 2015 14:51:54 GMT
recorded_with: VCR 2.9.3
