---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/friendships/destroy.json
    body:
      encoding: UTF-8
      string: screen_name=MattRooney
    headers:
      Authorization:
      - OAuth oauth_consumer_key="eV3tGrKTeC4B0uie8H46uxx3v", oauth_nonce="3e8a0135786dcd19197ae067abc4198c",
        oauth_signature="OXyt195KnQEiZLSEIBug4IQrOgI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1447943991", oauth_token="84891952-bksp0deuwkSrwTVyDuZw6UVfefWlJfRM8MmJ5JgdB",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 19 Nov 2015 14:39:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8ae035a198b88e4f68ddf72f1b6a4a5d
      X-Response-Time:
      - '107'
      X-Transaction:
      - 18005dd402c827e8
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":16202103,"id_str":"16202103","name":"Matt Rooney","screen_name":"mattrooney","location":"Nottinghamshire","description":"Develop
        school leaders, teachers & schools. Champion for Specialist Education Provision.
        #Scout. NRFC. Head of over 9000 Notts Scouts (@NottsScouts)","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":622,"friends_count":211,"listed_count":10,"created_at":"Tue
        Sep 09 13:38:57 +0000 2008","favourites_count":85,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":false,"statuses_count":1344,"lang":"en","status":{"created_at":"Wed
        Nov 18 13:53:45 +0000 2015","id":666977594441637889,"id_str":"666977594441637889","text":"Parcels
        arrived from @ted_baker. Love the giant #teddelivers boxes too! ''T for Tall''
        range my new favourite thing! https:\/\/t.co\/kwpSB0Kvln","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"teddelivers","indices":[48,60]}],"symbols":[],"user_mentions":[{"screen_name":"ted_baker","name":"Ted
        Baker","id":16527648,"id_str":"16527648","indices":[21,31]}],"urls":[],"media":[{"id":666977560870428672,"id_str":"666977560870428672","indices":[115,138],"media_url":"http:\/\/pbs.twimg.com\/media\/CUGUjszWoAAVGEO.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CUGUjszWoAAVGEO.jpg","url":"https:\/\/t.co\/kwpSB0Kvln","display_url":"pic.twitter.com\/kwpSB0Kvln","expanded_url":"http:\/\/twitter.com\/mattrooney\/status\/666977594441637889\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":453,"resize":"fit"},"large":{"w":767,"h":1024,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":801,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/484248420236791809\/5zJjtsAx_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/484248420236791809\/5zJjtsAx_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/16202103\/1367476357","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false}'
  recorded_at: Thu, 19 Nov 2015 14:39:52 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="eV3tGrKTeC4B0uie8H46uxx3v", oauth_nonce="ef999fb2ae02556fde1e0ef5faedc69e",
        oauth_signature="ghNjhSVbZn0YNjMDmRxE8rbuVFc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1447943992", oauth_token="84891952-bksp0deuwkSrwTVyDuZw6UVfefWlJfRM8MmJ5JgdB",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 19 Nov 2015 14:39:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f7d1909ecfee41f2dc2ea503993530ac
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1447944327'
      X-Response-Time:
      - '48'
      X-Transaction:
      - 7e1f2362e467dbdb
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":84891952,"id_str":"84891952","name":"Jason Wright","screen_name":"noobjey","location":"Boulder,
        CO","description":"Developer","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":53,"friends_count":65,"listed_count":0,"[...]
