---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="eV3tGrKTeC4B0uie8H46uxx3v", oauth_nonce="57293fd7bd8626b21401ef95abce92c3",
        oauth_signature="ViNU%2FPj7P1k9LsbWFzqxfqzf5SI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1447917701", oauth_token="84891952-bksp0deuwkSrwTVyDuZw6UVfefWlJfRM8MmJ5JgdB",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 19 Nov 2015 07:21:41 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 47f5169e228f1772f4a14b158a3fd6ea
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1447918551'
      X-Response-Time:
      - '39'
      X-Transaction:
      - 5a9b412744064c16
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":84891952,"id_str":"84891952","name":"Jason Wright","screen_name":"noobjey","location":"Boulder,
        CO","description":"Developer","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":53,"friends_count":65,"listed_count":0,"created_at":"Sat
        Oct 24 17:00:47 +0000 2009","favourites_count":152,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":92,"lang":"en","status":{"created_at":"Wed
        Oct 28 23:42:31 +0000 2015","id":659515619767812096,"id_str":"659515619767812096","text":"@lukemayes
        yes, yes it is. Well and to catch up with old friends in 140 chars or less.
        only 46 left what to say? live CO now call if go skii","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":659424149593567232,"in_reply_to_status_id_str":"659424149593567232","in_reply_to_user_id":14553182,"in_reply_to_user_id_str":"14553182","in_reply_to_screen_name":"lukemayes","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"lukemayes","name":"Luke
        Mayes","id":14553182,"id_str":"14553182","indices":[0,10]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1A1B1F","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/488101956\/noobjEdit_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/488101956\/noobjEdit_normal.jpg","profile_link_color":"2FC2EF","profile_sidebar_border_color":"181A1E","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 19 Nov 2015 07:21:41 GMT
recorded_with: VCR 2.9.3
