body
  //background: url(image-path('background-1.jpeg')) repeat center center

.brand-logo
  margin-left: 10px

.noob-small
  width: 42px
  height: 42px

.override-row-bottom-margin
  margin-bottom: auto
