body
  //background: url(image-path('background-1.jpeg')) repeat center center

#login-header
  color: #55ACEE
#navbar
  background-color: #26a69a

.brand-logo
  margin-left: 10px

.noob-small
  width: 42px
  height: 42px

.override-row-bottom-margin
  margin-bottom: auto

.collection.with-header .collection-item
  padding: 10px

.btn, .btn-large, .btn-flat
  padding: 0px 10px
  &:hover
    background-color: #55ACEE
    color: white

.group-all-btn
  margin: 0px
  padding: 0px

.my-icon.material-icons
  font-size: 2.6rem
  height: 33px
  position: relative
  bottom: 6px
  left: -1px

.user-follow-btn
  margin: 0px
  padding: 0px
  .my-icon.material-icons
    bottom: 0px
